{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- content -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /content -->

{{ if .Site.Data.selinux.clients_logo_slider.enable }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .Site.Data.selinux.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
