<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img src="{{`images/header_selinuxcomputing_pages_transparent_1920_640.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">
</section>
<!-- /page title -->
